:root {
  --illandril-token-tooltips--tooltip-rows: 5;
  --illandril-token-tooltips--tooltip-base-size: 1em;
}

.illandril-token-tooltips--tooltip {
  position: absolute;
  display: none;
  background: rgba(255, 255, 255, 0.8);
  color: rgba(0,0,0,0.9);
  border-radius: 0.25em;
  border: 2px solid rgba(255, 255, 255, 0.9);
  font-size: var(--illandril-token-tooltips--tooltip-base-size);
}


.illandril-token-tooltips--tooltip.illandril-token-tooltips--show {
  display: block;
}

.illandril-token-tooltips--name {
  font-weight: bold;
  text-align: center;
  padding: 2px 6px;
  font-size: 1.15em;
  color: rgba(0, 0, 100, 0.8);
}

.illandril-token-tooltips--data {
  /* display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(var(--illandril-token-tooltips--tooltip-rows), max-content);
  grid-template-columns: max-content;
  justify-content: center;
  column-gap: 0.25em; */
  max-height: calc(var(--illandril-token-tooltips--tooltip-rows) * 1.75em);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 0.5em;
}

.illandril-token-tooltips--label img {
  height: 1.15em;
  vertical-align: text-bottom;
  border: none;
}

.illandril-token-tooltips--value img {
  border: none;
}

.illandril-token-tooltips--row {
  padding: 0.2em 0.5em;
  line-height: 1.3em;
  white-space: nowrap;
}

.illandril-token-tooltips--label,
.illandril-token-tooltips--value {
  display: inline-block;
  vertical-align: text-top;
  white-space: initial;
}

.illandril-token-tooltips--value {
  max-width: 15em;
}

.illandril-token-tooltips--current > :first-child {
  margin-top: 0;
}
.illandril-token-tooltips--current > :last-child {
  margin-bottom: 0;
}

.illandril-token-tooltips--label {
  padding-right: 0.5em;
  min-width: 2.5em;
  text-align: center;
  font-weight: bold;
}

.illandril-token-tooltips--temp::after {
  content: '+';
  font-size: 0.75em;
  vertical-align: top;
}

.illandril-token-tooltips--max::before {
  content: ' / ';
}

.illandril-token-tooltips--units::before {
  content: ' ';
}

.illandril-token-tooltips--extra {
  opacity: 0.75;
}

.illandril-token-tooltips--extra::before {
  content: ' (';
}

.illandril-token-tooltips--extra::after {
  content: ')';
}

.illandril-token-tooltips--resource,
.illandril-token-tooltips--spellslot {
  position: relative;
}

.illandril-token-tooltips--resource .fas,
.illandril-token-tooltips--spellslot .fas {
  vertical-align: baseline;
}

.illandril-token-tooltips--resource-number,
.illandril-token-tooltips--spellslot-level {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  font-size: 0.7em;
  text-align: center;
  display: block;
  font-weight: bold;
  color: white;
}

.dnd5e.sheet.actor .inventory-list .item-detail.illandril-token-tooltips--tooltip-cell {
  flex: 0 0 30px;
}

.illandril-token-tooltips--toggle {
  color: #000;
  opacity: 0.3;
}

.illandril-token-tooltips--toggle[aria-checked="true"] {
  opacity: 0.8;
}

.illandril-token-tooltips--customOptionForm-help dl {
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: 6px 12px;
  align-items: center;
  margin: 8px 16px;
}

.illandril-token-tooltips--customOptionForm-help dl dt {
  text-align: center;
}

.illandril-token-tooltips--customOptionForm-help dl > * {
  margin: 0;
  padding: 0;
}

.illandril-token-tooltips--customOptionForm-data {
  display: grid;
  grid-template-columns: 115px 145px auto max-content max-content max-content;
  align-items: center;
  grid-gap: 8px 6px;
}

.illandril-token-tooltips--customOptionForm-header {
  font-weight: bold;
}

.illandril-token-tooltips--customOptionForm-actions.first .illandril-token-tooltips--customOptionForm-moveUp,
.illandril-token-tooltips--customOptionForm-actions.last .illandril-token-tooltips--customOptionForm-moveDown {
  opacity: 0.5;
  pointer-events: none;
}

.illandril-token-tooltips--customOptionForm-actions {
  text-align: center;
}

.illandril-token-tooltips--customOptionForm-actions a + a {
  margin-left: 4px;
}

.illandril-token-tooltips--customOptionForm-iconCell {
  display: grid;
  grid-template-columns: auto min-content;
  align-items: center;
}

.illandril-token-tooltips--customOptionForm-iconPreview {
  min-width: 20px;
  text-align: center;
  margin-right: 4px;
}

.illandril-token-tooltips--customOptionForm-disabledInput {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 0 4px;
}

.illandril-token-tooltips--customOptionForm-disabledInput[data-help] {
  position: relative;
}

.illandril-token-tooltips--customOptionForm-disabledInput[data-help]::after {
  content: '\f059';
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  right: 0;
  opacity: 0.65;
  font-size: 85%;
  line-height: 150%;
}

.illandril-token-tooltips--customOptionForm-disabledInput[data-help]:hover::after {
  opacity: 1;
}

.illandril-token-tooltips--customOptionForm-disabledInput[data-help]:hover::before {
  content: attr(data-help);
  position: absolute;
  top: 0;
  left: calc(100% + 4px);
  background: #fff;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 2px 4px;
  width: max-content;
  max-width: 430px;
}

#illandril-token-tooltips--customOptionForm-addRow,
.illandril-token-tooltips--customOptionForm-standardOptionsTitle,
.illandril-token-tooltips--customOptionForm-customOptionsTitle {
  grid-column-start: 1;
  grid-column-end: 7;
  text-align: center;
}

.illandril-token-tooltips--customOptionForm-standardOptionsTitle,
.illandril-token-tooltips--customOptionForm-customOptionsTitle {
  font-weight: bold;
  opacity: 0.8;
}

.illandril-token-tooltips--customOptionForm-customOptionsTitle {
  padding-top: 12px;
}

#illandril-token-tooltips--customOptionForm-addRow {
  padding: 4px 6px;
}

#illandril-token-tooltips--custom-options-form .form-footer {
  margin-top: 8px;
  display: flex;
}

.illandril-token-tooltips--customOptionForm-toggleDebug .illandril-token-tooltips--customOptionForm-toggleDebug-onLabel,
.illandril-token-tooltips--customOptionForm-toggleDebug.illandril-token-tooltips--customOptionForm-toggleDebug-on .illandril-token-tooltips--customOptionForm-toggleDebug-offLabel {
  display: none;
}

.illandril-token-tooltips--customOptionForm-toggleDebug .illandril-token-tooltips--customOptionForm-toggleDebug-offLabel,
.illandril-token-tooltips--customOptionForm-toggleDebug.illandril-token-tooltips--customOptionForm-toggleDebug-on .illandril-token-tooltips--customOptionForm-toggleDebug-onLabel {
  display: inline;
}

.illandril-token-tooltips--debugDisplay {
  position: absolute;
  bottom: 10px;
  right: 325px;
  max-height: 500px;
  max-width: 400px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  overflow: auto;
  padding: 8px;
}

.illandril-token-tooltips--debugDisplay .illandril-token-tooltips--row {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0 4px;
  line-height: 1.5em;
}

.illandril-token-tooltips--debugDisplay .illandril-token-tooltips--row .illandril-token-tooltips--label {
  user-select: text;
}

/*
.illandril-token-tooltips--debugDisplay-row {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0 4px;
  line-height: 1.5em;
}

.illandril-token-tooltips--debugDisplay-key {
  font-weight: bold;
  user-select: text;
}

.illandril-token-tooltips--debugDisplay-value {
  font-weight: normal;
}
*/
