<input
  type="text"
  name="name"
  value="{{option.name}}"
  aria-labelledby="{{CSS.HEADER}}-name"
/>
<div class="{{CSS.ICON_CELL}}">
  <input
    type="text"
    name="icon"
    value="{{option.icon}}"
    aria-labelledby="{{CSS.HEADER}}-icon"
  />
  <div class="{{CSS.ICON_PREVIEW}}">
    <i class="fas fa-{{option.icon}}"></i>
  </div>
</div>
<input
  type="text"
  name="attributeKey"
  value="{{option.attributeKey}}"
  aria-labelledby="{{CSS.HEADER}}-attributeKey"
/>
<div class="{{CSS.PERMISSIONS_CELL}}">
  <select
    type="text"
    name="permission"
    aria-labelledby="{{CSS.HEADER}}-permission"
  >
    {{selectOptions entityPermission selected=option.permission}}
  </select>
</div>
<div class="{{CSS.GM_PERMISSIONS_CELL}}">
  <input
    type="checkbox"
    name="showPlayerToGM"
    aria-labelledby="{{CSS.HEADER}}-gmPermission"
    {{#if option.showPlayerToGM}}
    checked
    {{/if}}
  />
</div>
<div class="{{CSS.SHOW_ON_PERSISTENT_CELL}}">
  <input
    type="checkbox"
    name="showOnPersistent"
    aria-labelledby="{{CSS.HEADER}}-showOnPersistent"
    {{#if option.showOnPersistent}}
    checked
    {{/if}}
  />
</div>
<div class="{{CSS.ACTIONS}}">
  <a
    class="{{CSS.MOVE_DOWN}}"
    title="{{menuLocalize 'moveDown'}}"
  >
    <i class="fas fa-arrow-down"></i>
  </a>
  <a
    class="{{CSS.MOVE_UP}}"
    title="{{menuLocalize 'moveUp'}}"
  >
    <i class="fas fa-arrow-up"></i>
  </a>
  <a
    class="{{CSS.DELETE}}"
    title="{{menuLocalize 'delete'}}"
  >
    <i class="fas fa-trash"></i>
  </a>
</div>
