:root {
  --illandril-token-tooltips--tooltip-rows: 5;
  --illandril-token-tooltips--tooltip-base-size: 1em;
  --illandril-token-tooltips--persistent-tooltip-base-size: 1em;

  --illandril-token-tooltips--tooltip-bg: rgba(255, 255, 255, 0.8);
  --illandril-token-tooltips--tooltip-fg: rgba(0, 0, 0, 0.9);
  --illandril-token-tooltips--tooltip-fg-contrast: #fff;
  --illandril-token-tooltips--tooltip-border-color: rgba(255, 255, 255, 0.9);
  --illandril-token-tooltips--title-fg: rgba(0, 0, 100, 0.8);
  --illandril-token-tooltips--hearts-fg: #900;
}

.illandril-token-tooltips--dark {
  --illandril-token-tooltips--tooltip-bg: rgba(10, 10, 10, 0.8);
  --illandril-token-tooltips--tooltip-fg: rgba(255, 255, 255, 0.9);
  --illandril-token-tooltips--tooltip-fg-contrast: #000;
  --illandril-token-tooltips--tooltip-border-color: rgba(0, 0, 0, 0.9);
  --illandril-token-tooltips--title-fg: rgba(200, 200, 200, 0.8);
  --illandril-token-tooltips--hearts-fg: #e00;
}

.illandril-token-tooltips--wrapper {
  --illandril-token-tooltips--tooltip-rows: var(--illandril-token-tooltips--persistent-tooltip-rows);
  --illandril-token-tooltips--tooltip-base-size: var(--illandril-token-tooltips--persistent-tooltip-base-size);

  position: absolute;
  display: flex;
  pointer-events: none;
  gap: 8px;
  z-index: var(--z-index-canvas, 0);

  &[data-vertical="bottom"] {
    align-items: flex-end;
  }
  &[data-vertical="top"] {
    align-items: flex-start;
  }
  &[data-horizontal="left"] {
    justify-content: flex-start;
  }
  &[data-horizontal="right"] {
    justify-content: flex-end;
  }
  &[data-horizontal="center"] {
    justify-content: center;
  }
  &[data-vertical="center"] {
    flex-direction: column;
    justify-content: center;
    &[data-horizontal="left"] {
      align-items: flex-start;
    }
    &[data-horizontal="right"] {
      align-items: flex-end;
    }
    &[data-horizontal="center"] {
      align-items: center;
    }
  }

  & > .illandril-token-tooltips--tooltip {
    position: relative;
  }
}

.illandril-token-tooltips--tooltip {
  position: absolute;
  display: none;
  background: var(--illandril-token-tooltips--tooltip-bg);
  color: var(--illandril-token-tooltips--tooltip-fg);
  border-radius: 0.25em;
  border: 0.125rem solid var(--illandril-token-tooltips--tooltip-border-color);
  font-size: var(--illandril-token-tooltips--tooltip-base-size);
  padding: 0.5em;
  z-index: var(--z-index-tooltip, 9999);

  &.illandril-token-tooltips--show {
    display: block;
  }

  .illandril-token-tooltips--name {
    font-weight: bold;
    text-align: center;
    font-size: 1.15em;
    color: var(--illandril-token-tooltips--title-fg);
  }

  .illandril-token-tooltips--data {
    max-height: calc(1.86em * var(--illandril-token-tooltips--tooltip-rows));
    line-height: 1.4em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.4em 0.5em;
    margin-block-start: 0.5em;
  }

  &[data-vertical] {
    writing-mode: vertical-rl;
    .fas,
    .fat {
      rotate: 90deg;
    }
    .illandril-token-tooltips--data {
      max-height: unset;
      max-width: calc(1.86em * var(--illandril-token-tooltips--tooltip-rows));
    }
  }

  .illandril-token-tooltips--row {
    white-space: nowrap;
  }

  .illandril-token-tooltips--label {
    padding-inline-end: 0.5em;
    min-inline-size: 2.5em;
    text-align: center;
    font-weight: bold;

    & img {
      block-size: 1.2em;
      vertical-align: text-bottom;
    }
  }

  .illandril-token-tooltips--label,
  .illandril-token-tooltips--value {
    display: inline-block;
    vertical-align: text-top;
    white-space: initial;

    & img {
      border: none;
    }
  }

  .illandril-token-tooltips--value {
    max-inline-size: 15em;
    & > :empty {
      display: none;
    }
  }

  .illandril-token-tooltips--current {
    & > :first-child {
      margin-block-start: 0;
    }
    & > :last-child {
      margin-block-end: 0;
    }
  }

  .illandril-token-tooltips--temp::after {
    content: "+";
    font-size: 0.75em;
    vertical-align: top;
  }

  .illandril-token-tooltips--max::before {
    content: " / ";
  }

  .illandril-token-tooltips--units::before {
    content: " ";
  }

  .illandril-token-tooltips--extra {
    opacity: 0.75;
    &::before {
      content: " (";
    }
    &::after {
      content: ")";
    }
  }

  .illandril-token-tooltips--hp-hearts {
    color: var(--illandril-token-tooltips--hearts-fg);
    & > * + * {
      margin-inline-start: 0.1em;
    }
  }
  .illandril-token-tooltips--hp-hearts-full::after {
    content: "+";
  }

  .illandril-token-tooltips--resource,
  .illandril-token-tooltips--spellslot {
    display: grid;
    grid-template-areas: "icon";
    align-items: center;
    justify-items: center;

    & > * {
      grid-area: icon;
    }
  }

  .illandril-token-tooltips--resource-number,
  .illandril-token-tooltips--spellslot-level {
    font-size: 0.7em;
    color: var(--illandril-token-tooltips--tooltip-fg-contrast);
    z-index: 1;
  }

  .illandril-token-tooltips--damage-type--icon-and-text {
    > i {
      display: inline;
    }
  }

  .illandril-token-tooltips--damage-types--rotate-left::before {
    transform: rotate(-90deg);
    display: inline-block;
    inline-size: 1em;
    text-align: center;
  }
}
