<form autocomplete="off" onsubmit="event.preventDefault()">
  <section class="form-body">
    <div class="notes {{FORM_CSS_PREFIX}}help">
      {{localize 'illandril-token-tooltips.setting.customOptionsMenu.instructions.top'}}
      <dl>
        <dt>{{localize 'illandril-token-tooltips.setting.customOptionsMenu.header.name'}}</dt>
        <dd>{{localize 'illandril-token-tooltips.setting.customOptionsMenu.instructions.name'}}</dd>
        <dt>{{localize 'illandril-token-tooltips.setting.customOptionsMenu.header.icon'}}</dt>
        <dd>{{localize 'illandril-token-tooltips.setting.customOptionsMenu.instructions.icon'}}<br><a href="https://fontawesome.com/icons" target="_blank">{{localize 'illandril-token-tooltips.setting.customOptionsMenu.instructions.iconLink'}}</a></dd>
        <dt>
          {{localize 'illandril-token-tooltips.setting.customOptionsMenu.header.attributeKey'}}
        </dt>
        <dd>
          {{localize
          'illandril-token-tooltips.setting.customOptionsMenu.instructions.attributeKey'}}
        </dd>
        <dt>{{localize 'illandril-token-tooltips.setting.customOptionsMenu.header.permission'}}</dt>
        <dd>
          {{localize 'illandril-token-tooltips.setting.customOptionsMenu.instructions.permission'}}
        </dd>
        <dt>{{localize 'illandril-token-tooltips.setting.customOptionsMenu.header.gmPermission'}}</dt>
        <dd>
          {{localize 'illandril-token-tooltips.setting.customOptionsMenu.instructions.gmPermission'}}
        </dd>
      </dl>
      <center>
        <a href="https://github.com/illandril/FoundryVTT-token-tooltips/issues" target="_blank">
          {{localize 'illandril-token-tooltips.setting.customOptionsMenu.instructions.bugs'}}
        </a>
      </center>
    </div>
    <hr>
    <div class="{{FORM_CSS_PREFIX}}data">
      <div class="{{FORM_CSS_PREFIX}}standardOptionsTitle">
        {{localize 'illandril-token-tooltips.setting.customOptionsMenu.standardOptionsTitle'}}
      </div>
      <div id="{{FORM_CSS_PREFIX}}header-name" class="{{FORM_CSS_PREFIX}}header">
        {{localize 'illandril-token-tooltips.setting.customOptionsMenu.header.name'}}
      </div>
      <div id="{{FORM_CSS_PREFIX}}header-icon" class="{{FORM_CSS_PREFIX}}header">
        {{localize 'illandril-token-tooltips.setting.customOptionsMenu.header.icon'}}
      </div>
      <div id="{{FORM_CSS_PREFIX}}header-attributeKey" class="{{FORM_CSS_PREFIX}}header">
        {{localize 'illandril-token-tooltips.setting.customOptionsMenu.header.attributeKey'}}
      </div>
      <div id="{{FORM_CSS_PREFIX}}header-permission" class="{{FORM_CSS_PREFIX}}header">
        {{localize 'illandril-token-tooltips.setting.customOptionsMenu.header.permission'}}
      </div>
      <div id="{{FORM_CSS_PREFIX}}header-permission" class="{{FORM_CSS_PREFIX}}header">
        {{localize 'illandril-token-tooltips.setting.customOptionsMenu.header.gmPermission'}}
      </div>
      <div id="{{FORM_CSS_PREFIX}}header-actions" class="{{FORM_CSS_PREFIX}}header"></div>
      {{#each standardOptions}}
        {{> modules/illandril-token-tooltips/templates/standardOptionsFormRow.html option=this entityPermission=../standardEntityPermission gmPermissions=../gmPermissions FORM_CSS_PREFIX=../FORM_CSS_PREFIX}}
      {{/each}}
      <hr>
      <div class="{{FORM_CSS_PREFIX}}customOptionsTitle">
        {{localize 'illandril-token-tooltips.setting.customOptionsMenu.customOptionsTitle'}}
      </div>
      <div class="{{FORM_CSS_PREFIX}}header">
        {{localize 'illandril-token-tooltips.setting.customOptionsMenu.header.name'}}
      </div>
      <div class="{{FORM_CSS_PREFIX}}header">
        {{localize 'illandril-token-tooltips.setting.customOptionsMenu.header.icon'}}
      </div>
      <div class="{{FORM_CSS_PREFIX}}header">
        {{localize 'illandril-token-tooltips.setting.customOptionsMenu.header.attributeKey'}}
      </div>
      <div class="{{FORM_CSS_PREFIX}}header">
        {{localize 'illandril-token-tooltips.setting.customOptionsMenu.header.permission'}}
      </div>
      <div class="{{FORM_CSS_PREFIX}}header">
        {{localize 'illandril-token-tooltips.setting.customOptionsMenu.header.gmPermission'}}
      </div>
      <div class="{{FORM_CSS_PREFIX}}header"></div>
      {{#each customOptions}}
       {{> modules/illandril-token-tooltips/templates/customOptionsFormRow.html option=this entityPermission=../entityPermission gmPermissions=../gmPermissions FORM_CSS_PREFIX=../FORM_CSS_PREFIX}}
      {{/each}}
      <div id="{{FORM_CSS_PREFIX}}addRow">
        <a>
          <i class="fas fa-plus"></i>
          {{localize 'illandril-token-tooltips.setting.customOptionsMenu.add'}}
        </a>
      </div>
    </div>
  </section>
  <footer class="form-footer">
    <button class="{{FORM_CSS_PREFIX}}toggleDebug">
      <i class="fas fa-bug"></i>
      <span class="{{FORM_CSS_PREFIX}}toggleDebug-onLabel">
        {{localize 'illandril-token-tooltips.setting.customOptionsMenu.toggleDebug.onLabel'}}
      </span>
      <span class="{{FORM_CSS_PREFIX}}toggleDebug-offLabel">
        {{localize 'illandril-token-tooltips.setting.customOptionsMenu.toggleDebug.offLabel'}}
      </span>
    </button>
    <button type="submit" name="submit">
      <i class="far fa-save"></i>
      {{localize 'illandril-token-tooltips.setting.customOptionsMenu.save'}}
    </button>
  </footer>
</form>
